{% extends 'base.html' %}
{%block title %}
<title>Contact</title>{% endblock %}

{% block content %}
<div class="row">
    <div class="col-9">
        <form action="" class="form" name = "myform" onsubmit="return validateForm()" method = 'post'>
            <textarea name="feedback" id="fbtext" cols="100" rows="15" placeholder="Please Write Your Feedback"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
        <script>
            function validateForm()
            {
                let x = document.forms["myform"]["feedback"].value;
                if (x == "")
                {
                  alert("Feedback must be filled before Submission");
                  return false;
                }
            }
        </script>
    </div>
    <div class="col-3">
        <h5>Developed by</h5>
        <h6>Naveen Kumar Konam</h6>
        <p>Aspiring Data Scientist</p>
        <p>Web Developer</p>
        <p>Factory Quest Inc</p>
        <p>Hyderabad</p>
    </div>
</div>
{% endblock %}