{% extends 'base.html'%}
{%block title %}
<title>Map</title>
{% endblock %}

{%block content%}
<div class="row">
  <div class="col-9">
      
      <div id="map" style="height:550px; width: 100%;">
          <script>
            var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

            var Stamen_Terrain = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}{r}.{ext}', {
	        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
	        subdomains: 'abcd',
	        minZoom: 0,
	        maxZoom: 18,
	        ext: 'png'
            });
            
            var Esri_WorldStreetMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
	        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
            });

            var map = L.map('map').setView([17.344619, 78.574192], 4).addLayer(osm);

            function base_map(){

                if (document.getElementById("base_layers").value == 'osm'){
                    map.removeLayer(Stamen_Terrain);
                    map.removeLayer(Esri_WorldStreetMap)
                    map.addLayer(osm); } 

                else if(document.getElementById("base_layers").value == 'Stamen_Terrain'){
                    map.removeLayer(osm);
                    map.removeLayer(Esri_WorldStreetMap);
                    map.addLayer(Stamen_Terrain);}

                else if(document.getElementById("base_layers").value == 'esri_street'){
                    map.removeLayer(Stamen_Terrain);
                    map.removeLayer(osm);
                    map.addLayer(Esri_WorldStreetMap);}
                
            }
          </script>
      </div>

  </div>
  <div class="col-3">
      <h4>Welcome to Cement Plants Location Project</h4>
      <div class="layer">
        <label for="layer_select">Layer Selection</label>
        <select class="form-select" id = "base_layers" name = "layer_select" aria-label="Default select example" onchange = "base_map()">
            <option value="osm" selected>Open Street Map</option>
            <option value="Stamen_Terrain">Stamen Terrain</option>
            <option value = "esri_street">ESRI Street Map</option>
          </select>
      </div>
      <div class="form">
          <form id = "sub_form" name = "queryform" action="" method="post" onsubmit="PlantQuery();return false">
            <fieldset>
                <div class="group-selection">  
                    <label for="group"><strong>Group</strong></label>
                    <select class="form-select" id = "group_selection" aria-label="Default select example" name = "group" id = "group" multiple>
                        {%for group in group%}
                            <option value="{{group}}">{{group}}</option>
                        {%endfor%}
                    </select>
                    <br>
                </div>
                <div class="state-selection">
                    <label for="state"><strong>State</strong></label>
                    <select class="form-select" id = "state_selection" aria-label="Default select example" name = "state" multiple>
                        {%for state in state%}
                            <option value="{{state}}">{{state}}</option>
                        {%endfor%}
                    </select>
                    <br>
                </div>
                <div class="type">
                    <label for=""><strong>Type</strong></label><br>
                    <label for="iu">Integrated Unit</label>
                    <input type="checkbox" name = 'iu' id = 'integrated' value = "IU">

                    <label for="gu">Grinding Unit</label>
                    <input type="checkbox" name = 'gu' id = 'grinding' value = "GU">

                    <label for="cu">Clinkerisation Unit</label>
                    <input type="checkbox" name = 'cu' id = 'clinker' value = "CU">
                </div>
                <br>
                <input type="submit" value="Submit">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="reset" value="Reset">
            </fieldset>
        </form>
       
        
        <script src = "./static/cementplants.geojson" type="text/javascript"></script>
        
        <script type="text/javascript">

            //Defining circle markers for different type of units
            var maroonMarker = {
                radius: 3.5,
                color: "#800000",
                fillColor: "#800000",
                weight: 4,
                opacity: 0.9,
                fillOpacity: 0.9
                };
            var blueMarker = {
                radius: 3.5,
                color: "#4250f4",
                fillColor: "#4250f4",
                weight: 4,
                opacity: 0.9,
                fillOpacity: 0.9
                };
            var greenMarker = {
                radius: 3.5,
                color: "#003300",
                fillColor: "#003300",
                weight: 4,
                opacity: 0.9,
                fillOpacity: 0.9
            };

            //function for popup data 
            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                var popUpContent = '<table>';
                    for (var p in feature.properties) {
                        popUpContent += '<tr><td>' + p + '</td><td>'+ feature.properties[p] + '</td></tr>';
                        }
                    popUpContent += '</table>';
                    layer.bindPopup(popUpContent,{maxHeight:300,autoPan:false,offset:[-200,200]});
            }

            
            // Variables for querying the json data , obtained from form submission
                var i_unit = document.getElementById('integrated'); 
                var g_unit = document.getElementById('grinding');
                var c_unit = document.getElementById('clinker');
                var integ_unit = i_unit.value;
                var grind_unit = g_unit.value;
                var clinker_unit = c_unit.value; 

                //var s_sel = document.getElementById('state_selection');
                var s_sel = document.forms.sub_form.state_selection;
                /*
                //for multiple values in a list
                var state_options = [...s_sel.selectedOptions].map(options=>option.value);
                */
                var g_sel = document.forms.sub_form.group_selection;
                
            //function to be executed after form submission
            function PlantQuery() { 

                //clearing the layers after form submission first
                map.eachLayer(function(layer) {
                if(!!layer.toGeoJSON){
                    map.removeLayer(layer);}
                }) 

                var i=0;
                
                while(i<s_sel.selectedOptions.length){
                    var j=0;
                    while(j<g_sel.selectedOptions.length){

                        var integ_layer = L.geoJSON(cementplants,{filter: function(feature, layer) {
                            return (feature.properties.Unit == integ_unit  && feature.properties.State == s_sel.selectedOptions[i].value && feature.properties.Group == g_sel.selectedOptions[j].value);
                            },pointToLayer: function (feature, latlng) {return new L.CircleMarker(latlng,maroonMarker)},
                            onEachFeature:onEachFeature});   
                        
                        var grind_layer = L.geoJSON(cementplants,{filter: function(feature, layer) {
                            return (feature.properties.Unit == grind_unit && feature.properties.State == s_sel.selectedOptions[i].value && feature.properties.Group == g_sel.selectedOptions[j].value);
                            },pointToLayer: function (feature, latlng) {return new L.CircleMarker(latlng,blueMarker)},
                            onEachFeature:onEachFeature});
                        
                        var clinker_layer = L.geoJSON(cementplants,{filter: function(feature, layer) {
                            return (feature.properties.Unit == clinker_unit && feature.properties.State == s_sel.selectedOptions[i].value && feature.properties.Group == g_sel.selectedOptions[j].value);
                            },pointToLayer: function (feature, latlng) {return new L.CircleMarker(latlng,greenMarker)},
                            onEachFeature:onEachFeature});  

                        if (i_unit.checked && g_unit.checked && c_unit.checked){
                            integ_layer.addTo(map);
                            grind_layer.addTo(map);
                            clinker_layer.addTo(map);
                        }       
                        else if (i_unit.checked && !g_unit.checked && !c_unit.checked){
                        integ_layer.addTo(map);
                        }
                        else if (!i_unit.checked && g_unit.checked && !c_unit.checked){
                        grind_layer.addTo(map);
                        }  
                        else if (!i_unit.checked && !g_unit.checked && c_unit.checked){
                        clinker_layer.addTo(map);
                        }
                        else if (i_unit.checked && g_unit.checked && !c_unit.checked){
                        integ_layer.addTo(map);
                        grind_layer.addTo(map);
                        }
                        else if (!i_unit.checked && g_unit.checked && c_unit.checked){
                        grind_layer.addTo(map);
                        clinker_layer.addTo(map);
                        }
                        else if (i_unit.checked && !g_unit.checked && c_unit.checked){
                        integ_layer.addTo(map);
                        clinker_layer.addTo(map);
                        }                
                        else if (!i_unit.checked && !g_unit.checked && !c_unit.checked) {
                            alert("Please check Unit type");
                        }
                        j++;
                    }
                    i++;
                }
            } 
        </script>  
      </div>
  </div>
</div>
{%endblock%}