{% extends 'base.html'%}
{%block content%}
<div class="row">
  <div class="col-9">
      <!--<p>Name is : <span id = "demo"><script>
          function myName(){
          var x = document.getElementById("name").value;
          document.getElementById("demo").innerHTML = x;     }
      </script></span></p>
      <p>Date and time is : 
          <script>
              var time = new Date();
              document.write(time);
          </script>
      </p> -->
      <div id="map" style="height:550px; width: 100%;">
          <script>
              var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
          osmAttrib = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

            var map = L.map('map').setView([17.344619, 78.574192], 15).addLayer(osm);

              L.marker([17.344619, 78.574192])
                  .addTo(map)
                  .bindPopup('A pretty CSS3 popup.<br />Easily customizable.');
          </script>
      </div>

  </div>
  <div class="col-3">
      <h6>Welcome to Cement Plants Location Project</h6>
      <label for="name">Name</label>
      <input type="text" id = "name">
      <input type="submit" value = "Submit" onclick="myName()">
      <br>
      <br>
      <p>Group: 
          <label for="gu">GU</label>
          <input type="checkbox" id = "gu">
          
          <label for="cu">CU</label>
          <input type="checkbox" id = "cu">
      </p>
  </div>
</div>
{%endblock%}